@import '../../../styles/base';
@import '../../../styles/colors';
.search {
  position: relative;
  display: block;
  z-index: 100;
  opacity: 1;
  &-dropdown {
    @extend %overflow-scroll;
    position: absolute;
    display: block;
    background: $dark-blue;
    max-height: 15rem;
    width: 10rem;
    .header {
      width: 100%;
      background: $dark-blue;
      cursor: pointer;
      .branding {
        width: 100%;
        display: flex;
        padding: 0.1rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        img {
          width: 2.5rem;
          border-radius: 50%;
        }
        .nav-list {
          width: 50%;
        }
      }
    }
  }
}
