@import '../../../styles/base';
@import '../../../styles/colors';

.search {
  position: relative;
  display: block;
  z-index: 100;
  opacity: 1;

  &-dropdown {
    @extend %overflow-scroll;
    position: absolute;
    display: block;
    background: $dark-blue;
    max-height: 15rem;
    width: 10rem;

    .header {
      width: 100%;
      background: $dark-blue;
      cursor: pointer;

      .branding {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        img {
          width: 2rem;
          border-radius: 50%;
        }

        .user-info {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        }

        .tag-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
        }
      }
    }
  }
}
