@import '../styles/base';
@import '../styles/colors';
@import '../styles/mixins';
.explore-page {
  width: 100%;
  min-height: 100vh;
  background: $off-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .clr-row {
    width: 100%;
  }
}
