.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  cursor: pointer;
  &-img {
    border-radius: 50%;
    width: 2.5rem;
  }
}
