<div class="profile-page">
  <div class="header-block">
    <img [src]="profile.avatar" />
    <div class="header-block-actions">
      <div class="btn-group btn-primary top">

        <clr-dropdown *ngIf="profile.is_me; else defaultButton">
          <button class="btn btn-icon" clrDropdownTrigger>
            <clr-icon shape="user"></clr-icon>
            {{profile.username}}
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a clrDropdownItem (click)="onShowEditProfileModal()">Edit Profile</a>
                <a clrDropdownItem (click)="onShowChangePasswordModal()">Change Password</a>
                <a clrDropdownItem (click)="onShowCreatePostModal()">Create Post</a>
                <a clrDropdownItem (click)="onShowDeleteAccountModal()">Delete Account</a>
          </clr-dropdown-menu>
        </clr-dropdown>
        <ng-template #defaultButton>
          <button class="btn btn-primary" *ngIf="profile.is_followee" (click)="onUnfollow()">Following {{profile.username}}</button>
          <button class="btn btn-primary" *ngIf="!profile.is_followee" (click)="onFollow()">Follow {{profile.username}}</button>
        </ng-template>
      </div>

      <div class="btn-group btn-primary bottom">
        <button class="btn btn-link">{{photosPagination.count}} Posts</button>
        <button class="btn btn-link" (click)="onShowFollowersModal()">{{profile.followers}} Followers</button>
        <button class="btn btn-link" (click)="onShowFollowingModal()">{{profile.following}} Following</button>
      </div>
    </div>
  </div>
  <div class="photos-block">
    <app-photo-gallery
      [deletable]="profile.is_me"
      title="Posts"
      [loading]="photosLoading"
      [photos]="photos"
      (load)="onLoadPhotos()"

      (delete)="onDelete($event)"
    >
    </app-photo-gallery>
  </div>
  <app-change-password
    *ngIf="changePasswordModal"
    (close)="onCloseChangePasswordModal()"
  >
  </app-change-password>
  <app-edit-profile
    *ngIf="editProfileModal"
    (close)="onCloseEditProfileModal()"
    (edited)="onEdited()"
    [me]="getMe()"
  >
  </app-edit-profile>
  <app-create-post
    *ngIf="createPostModal"
    (close)="onCloseCreatePostModal()"
    (created)="onCreated($event)"
  >
  </app-create-post>
  <app-delete-account
    *ngIf="deleteAccountModal"
    (close)="onCloseDeleteAccountModal()"
    [me]="getMe()"
  >
  </app-delete-account>
  <app-followers
    *ngIf="followersModal"
    (close)="onCloseFollowersModal()"
    [profile_id]="profile.id"
  >
  </app-followers>
  <app-following
    *ngIf="followingModal"
    (close)="onCloseFollowingModal()"
    [profile_id]="profile.id"
  >
  </app-following>
</div>
