@import '../styles/base';
@import '../styles/colors';
@import '../styles/mixins';

.profile-page {
  width: 100%;
  min-height: 100vh;
  background: $off-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .header-block {
    margin-top: 1rem;
    width: 65%;
    background: $off-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include respond(desktop) {
      width: 75%;
    }

    @include respond(tablet) {
      width: 85%;
    }

    @include respond(phone) {
      width: 95%;

    }

    img {
      border-radius: 50%;
      width: 4.5rem;

      @include respond(tablet) {
        width: 3.5rem;
      }

      @include respond(phone) {
        display: none;
      }
    }

    &-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;



      @include respond(phone) {

        width: 100%;
      }




      .top .btn-link {
        font-weight: bold;
        font-size: 1rem;

        @include respond(tablet) {
          font-size: 0.8rem;
        }

        @include respond(phone) {

          font-size: 0.6rem;
        }
      }

      .bottom .btn-link {
        font-size: 0.6rem;

        @include respond(tablet) {
          font-size: 0.5rem;
        }

        @include respond(phone) {

          font-size: 0.4rem;
        }




      }
    }
  }

  .nav-icon {
    color: $light-blue;

    &:hover {
      background: none;
    }
  }

  .photos-block {
    width: 65%;

    @include respond(desktop) {
      width: 75%;
    }

    @include respond(tablet) {
      width: 85%;
    }

    @include respond(phone) {
      width: 95%;
    }
  }
}
